In [3]:
import os
import pandas as pd
datapath= '../data/raw/COVID-19/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
pd_raw= pd.read_csv (datapath)

In [4]:
pd_raw.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,8/12/20,8/13/20,8/14/20,8/15/20,8/16/20,8/17/20,8/18/20,8/19/20,8/20/20,8/21/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,37345,37424,37431,37551,37596,37599,37599,37599,37856,37894
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,6817,6971,7117,7260,7380,7499,7654,7812,7967,8119
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,36699,37187,37664,38133,38583,39025,39444,39847,40258,40667
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,977,981,989,989,989,1005,1005,1024,1024,1045
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,1762,1815,1852,1879,1906,1935,1966,2015,2044,2068

In [5]:
pd_raw

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,8/12/20,8/13/20,8/14/20,8/15/20,8/16/20,8/17/20,8/18/20,8/19/20,8/20/20,8/21/20
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,37345,37424,37431,37551,37596,37599,37599,37599,37856,37894
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,6817,6971,7117,7260,7380,7499,7654,7812,7967,8119
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,36699,37187,37664,38133,38583,39025,39444,39847,40258,40667
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,977,981,989,989,989,1005,1005,1024,1024,1045
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,1762,1815,1852,1879,1906,1935,1966,2015,2044,2068
5,NaN,Antigua and Barbuda,17.060800,-61.796400,0,0,0,0,0,0,...,92,92,93,93,93,93,93,94,94,94
6,NaN,Argentina,-38.416100,-63.616700,0,0,0,0,0,0,...,268574,276072,282437,289100,294569,299126,305966,312659,320884,329043
7,NaN,Armenia,40.069100,45.038200,0,0,0,0,0,0,...,40794,41023,41299,41495,41663,41701,41846,42056,42319,42477
8,Australian Capital Territory,Australia,-35.473500,149.012400,0,0,0,0,0,0,...,113,113,113,113,113,113,113,113,113,113
9,New South Wales,Australia,-33.868800,151.209300,0,0,0,0,3,4,...,3927,3936,3945,3950,3957,3959,3966,3971,3972,3981
10,Northern Territory,Australia,-12.463400,130.845600,0,0,0,0,0,0,...,33,33,33,33,33,33,33,33,33,33
11,Queensland,Australia,-27.469800,153.025100,0,0,0,0,0,0,...,1089,1091,1091,1091,1091,1091,1092,1093,1094,1103
12,South Australia,Australia,-34.928500,138.600700,0,0,0,0,0,0,...,459,460,460,460,461,462,462,462,462,462
13,Tasmania,Australia,-42.882100,147.327200,0,0,0,0,0,0,...,230,230,230,230,230,230,230,230,230,230
14,Victoria,Australia,-37.813600,144.963100,0,0,0,0,1,1,...,15863,16234,16517,16764,17027,17238,17446,17683,17852,18029
15,Western Australia,Australia,-31.950500,115.860500,0,0,0,0,0,0,...,644,645,646,646,646,647,647,651,651,651
16,NaN,Austria,47.516200,14.550100,0,0,0,0,0,0,...,22439,22594,22876,23179,23370,23534,23829,24084,24431,24762
17,NaN,Azerbaijan,40.143100,47.576900,0,0,0,0,0,0,...,33824,33915,34018,34107,34219,34343,34474,34620,34759,34921
18,NaN,Bahamas,25.025885,-78.035889,0,0,0,0,0,0,...,1036,1089,1119,1252,1315,1329,1424,1531,1610,1703
19,NaN,Bahrain,26.027500,50.550000,0,0,0,0,0,0,...,45264,45726,46052,46430,46835,47185,47581,47950,48303,48661
20,NaN,Bangladesh,23.685000,90.356300,0,0,0,0,0,0,...,266498,269115,271881,274525,276549,279144,282344,285091,287959,290360
21,NaN,Barbados,13.193900,-59.543200,0,0,0,0,0,0,...,144,144,148,150,151,152,153,155,156,157
22,NaN,Belarus,53.709800,27.953400,0,0,0,0,0,0,...,69102,69203,69308,69308,69516,69589,69673,69801,69950,70111
23,NaN,Belgium,50.833300,4.469936,0,0,0,0,0,0,...,75647,76191,77113,77869,78323,78534,78897,79479,80178,80894
24,NaN,Belize,17.189900,-88.497600,0,0,0,0,0,0,...,210,296,356,388,452,475,475,553,605,648
25,NaN,Benin,9.307700,2.315800,0,0,0,0,0,0,...,2014,2014,2014,2063,2063,2063,2063,2095,2095,2095
26,NaN,Bhutan,27.514200,90.433600,0,0,0,0,0,0,...,113,128,133,133,138,141,147,147,153,154
27,NaN,Bolivia,-16.290200,-63.588700,0,0,0,0,0,0,...,95071,96459,97950,99146,100344,101223,103019,105050,106065,107435
28,NaN,Bosnia and Herzegovina,43.915900,17.679100,0,0,0,0,0,0,...,14961,15184,15535,15801,15801,16111,16351,16691,17029,17396
29,NaN,Botswana,-22.328500,24.684900,0,0,0,0,0,0,...,1066,1214,1214,1214,1214,1308,1308,1308,1308,1308
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236,NaN,Thailand,15.870032,100.992541,2,3,5,7,8,8,...,3356,3359,3376,3376,3378,3378,3382,3382,3389,3390
237,NaN,Timor-Leste,-8.874217,125.727539,0,0,0,0,0,0,...,25,25,25,25,25,25,25,25,25,25
238,NaN,Togo,8.619500,0.824800,0,0,0,0,0,0,...,1092,1104,1124,1130,1147,1154,1173,1190,1212,1239
239,NaN,Trinidad and Tobago,10.691800,-61.222500,0,0,0,0,0,0,...,326,404,426,497,552,588,629,686,767,864
240,NaN,Tunisia,33.886917,9.537499,0,0,0,0,0,0,...,1780,1847,1903,2023,2107,2185,2314,2427,2543,2607
241,NaN,Turkey,38.963700,35.243300,0,0,0,0,0,0,...,244392,245635,246861,248117,249309,250542,251805,253108,254520,255723
242,NaN,US,40.000000,-100.000000,1,1,2,2,5,5,...,5197411,5248958,5313252,5361165,5403213,5438325,5482416,5529824,5573847,5622540
243,NaN,Uganda,1.373333,32.290275,0,0,0,0,0,0,...,1332,1353,1385,1434,1500,1560,1603,1656,1750,1848
244,NaN,Ukraine,48.379400,31.165600,0,0,0,0,0,0,...,86504,88136,89917,91795,93490,95007,96653,98658,100810,102948
245,NaN,United Arab Emirates,23.424076,53.847818,0,0,0,0,0,0,...,63212,63489,63819,64102,64312,64541,64906,65341,65802,66193
246,Anguilla,United Kingdom,18.220600,-63.068600,0,0,0,0,0,0,...,3,3,3,3,3,3,3,3,3,3
247,Bermuda,United Kingdom,32.307800,-64.750500,0,0,0,0,0,0,...,159,159,159,162,162,166,166,166,166,167
248,British Virgin Islands,United Kingdom,18.420700,-64.640000,0,0,0,0,0,0,...,9,9,9,9,9,9,11,11,11,21
249,Cayman Islands,United Kingdom,19.313300,-81.254600,0,0,0,0,0,0,...,203,203,203,203,203,203,203,205,205,205
250,Channel Islands,United Kingdom,49.372300,-2.364400,0,0,0,0,0,0,...,603,603,607,607,607,609,609,613,613,614
251,Falkland Islands (Malvinas),United Kingdom,-51.796300,-59.523600,0,0,0,0,0,0,...,13,13,13,13,13,13,13,13,13,13
252,Gibraltar,United Kingdom,36.140800,-5.353600,0,0,0,0,0,0,...,203,205,206,209,215,217,222,223,229,231
253,Isle of Man,United Kingdom,54.236100,-4.548100,0,0,0,0,0,0,...,336,336,336,336,336,336,336,336,336,336
254,Montserrat,United Kingdom,16.742498,-62.187366,0,0,0,0,0,0,...,13,13,13,13,13,13,13,13,13,13
255,Turks and Caicos Islands,United Kingdom,21.694000,-71.797900,0,0,0,0,0,0,...,241,258,274,298,298,298,315,327,334,347
256,NaN,United Kingdom,55.378100,-3.436000,0,0,0,0,0,0,...,313798,314927,316367,317379,318484,319197,320286,321098,322280,323313
257,NaN,Uruguay,-32.522800,-55.765800,0,0,0,0,0,0,...,1393,1409,1421,1434,1440,1457,1485,1493,1506,1516
258,NaN,Uzbekistan,41.377491,64.585262,0,0,0,0,0,0,...,32654,33323,33821,34528,35329,35702,36352,37112,37547,38074
259,NaN,Venezuela,6.423800,-66.589700,0,0,0,0,0,0,...,29088,30369,31381,32607,33755,34802,35697,36868,37567,38219
260,NaN,Vietnam,14.058324,108.277199,0,2,2,2,2,2,...,883,911,930,951,964,983,989,994,1007,1009
261,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,15184,15491,15834,16153,16534,16844,17306,17606,17989,18313
262,NaN,Western Sahara,24.215500,-12.885800,0,0,0,0,0,0,...,10,10,10,10,10,10,10,10,10,10
263,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,1841,1847,1858,1858,1869,1882,1889,1892,1899,1906
264,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,8501,8663,9021,9186,9343,9839,9981,10218,10372,10627
265,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,4893,4990,5072,5176,5261,5308,5378,5643,5745,5815